<div>
<label class="control-label">Competitors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
</div>
@Html.DropDownList("Competitors", ViewBag.Competitors as SelectList, htmlAttributes: new { @class = "form-control col-md-8" })
