@{
  ViewBag.Title = "Confirm Email";
  Layout = "~/Views/Shared/_Layout_cm.cshtml";
}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <div class="well well-inverted text-center">
          <span class="icon-fighters font-size-xxl"></span>
          <h1>Great success!</h1>
          <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




