
@{
  ViewBag.Title = "Account Confirmation";
  Layout = "~/Views/Shared/_Layout_cm.cshtml";
}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <div class="well well-inverted text-center">
          <span class="icon-fighters font-size-xxl"></span>
          <h1>Great success!</h1>
          <p>
            Your account is created successfully<br><br>
            Please check you email to confirm your account.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


