
<section>
  <div id="loginPage" class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active">
            <a class="clickable">
              Log in
            </a>
          </li>
        </ul>
        <div class="panel flip card margin-bottom-xs-64 panel-inverted">
          <div class="panel-body margin-vertical-md-64 margin-horizontal-md-64 face back">
            <div class="row">
              <form method="POST" action="https://smoothcomp.com/en/auth/login" accept-charset="UTF-8">
                <input name="_token" type="hidden" value="5dMgdClCaBbXCrOEA67o4n9C4AWFClficyQ6JA6G"> <input type="hidden" name="create_account" value="0"> <input type="hidden" name="_next_url" value="">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="email" name="email" id="email" value="" placeholder="Email" required="required" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" value="" placeholder="Password" required="required" class="form-control">
                  </div>
                </div>
                <input type="hidden" name="remember" value="1" id="rememberme">
                <div class="col-sm-12">
                  <button class="btn btn-info btn-lg btn-block">
                    Log in
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="form-group">
        <div class="row form-group">
          <a href="https://smoothcomp.com/en/password/reset" class="btn btn-default btn-outline btn-sm">
            Forgot your password?
          </a>
        </div>
        <a class="btn btn-default btn-outline btn-sm ">
          No account? Create one here!
        </a>
        <div>
          <div role="dialog" class="modal text-left">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="pull-right" style="margin-top: 0.75rem; margin-bottom: 0.75rem;">
                    <strong>Version:</strong> 2.0
                    <br>
                    2018-05-25
                  </p>
                  <h4>
                    <strong>Terms Of Service Agreement</strong>
                  </h4>
                </div>
                <div class="modal-body">
                  <div>
                    <p class="margin-top-xs-32">Quick overview:</p>
                    <div class="well">
                      <p>
                        <span class="icon icon-check color-info"></span> Smoothcomp collects information from your account and this information is shared with the event organizers.
                      </p>
                      <p>
                        <span class="icon icon-check color-info"></span> If you become academy manager you are responsible for all the athletes you register.
                      </p>
                      <p class="margin-bottom-xs-0">
                        <span class="icon icon-check color-info"></span> Smoothcomp follows the GDPR law and you can change, hide and delete your account.
                      </p>
                    </div>
                    <h2>USER ACCOUNT</h2>
                    <p>When you open an account, Smoothcomp will create a user profile for you so that we can better adapt your experience. For more details on how Smoothcomp will use your information, see the Privacy Policy section. </p>
                    <p>When you open an account, you are asked to give your consent or not to Smoothcomp so we may contact you via newsletters, event reminders and more general promotion of offers or information (including information from our event partners or third parties) that may be of interest, eg via email, text message or in another way.</p>
                    <p>You can change your email preferences at any time in your account profile.</p>
                    <h2>PRIVACY POLICY &amp; GDPR</h2>
                    <p>At Smoothcomp, we recognise that privacy is important. This Policy applies to all of the services and solutions offered by Smoothcomp.</p>
                    <p>Smoothcomp maintains, and use your information in accordance with the European law called GDPR (General Data Protection Regulation ) (European Union: 25th of May 2018).</p>
                    <p>This privacy policy explains what kind of personal data Smoothcomp collects online. Please read this policy carefully.</p>
                    <p>We collect information about you when you open an account, when you email or call us and when you use our websites, apps and social media. We use this and other information in order to offer a better service, marketing and support to you and our other customers.</p>
                    <p>Example, when you open an account, sign up for a event, download one of our apps or call us, we may ask for your consent to use your information for a particular purpose. We share your information with our organizers of the events you register for so that they are able to help you compete in their events.</p>
                    <p>Smoothcomp is the data controller (ie the person responsible for the processing of your personal data) in respect of all the information Smoothcomp collects and receives about you when you use our services.</p>
                    <h3>We collect information about you in various ways</h3>
                    <p>
                      <strong>Cookies.</strong>
                      <br>
                      As with many online businesses, we use cookies (ie small text files through our site placed on your computer) and tracking tools. For more information about cookies on this site and how to disable cookies, see your computer's help pages.
                    </p>
                    <p>
                      <strong>Direct from you.</strong>
                      <br>
                      For example, if you sign up for an offer, opening an account, enter an event, download an app, put a comment on our website, ask a question, email, contact Smoothcomps customer service or in any other way use our services.
                    </p>
                    <p>
                      <strong>Through your use of our websites and apps.</strong>
                      <br>
                      You can use our websites and apps from a computer, a telephone, so called tablet or other device. We use tracking tools like browser cookies and web beacons on our website and apps to collect information about your use.
                    </p>
                    <p>
                      <strong>From third party.</strong>
                      <br>
                      For example, If you choose to use a social media integrated with our Web site or app, this social media from third parties provide us with certain information about you. This information may include your name and email address. Your activities on our sites and apps can be posted on the social media platform.
                    </p>
                    <h3>Information about you that we can save.</h3>
                    <p>We use the following information for the purposes described in this privacy policy:</p>
                    <p>
                      <strong>Your contact and account information.</strong>
                      <br>
                      We save contact information that you provide to us (eg name, address, phone, email, residence, language) when you open a Smoothcomp account, sign up for a event or participate in our contests or promotions.
                    </p>
                    <p>
                      <strong>Information about your preferences.</strong>
                      <br>
                      We may collect information about events that you like. We can also save information on interests and demographic categories based on your contacts with us to provide you with a better service and provide you with more specific information. For example, if you register for a particular event and several people who visited the event also signed up for another event we may send you information about that event.
                    </p>
                    <p>
                      <strong>Use of our website.</strong>
                      <br>
                      If you use our websites, we may collect information about the browser you are using and your IP address (this is a number that identifies a specific network device on the internet and are required for your device to communicate with websites). We may see the Web page you came from, what you used and did not use our website and which website you visit when you leave us.
                    </p>
                    <p>
                      <strong>Information about app usage.</strong>
                      <br>
                      If you use our apps, we may collect information about your GPS position or your device's unique identifier. We can also get information about the type of device you are using, or what version of the operating system on your computer or device. We can, for example, look at how often you use the app and where you downloaded it from.
                    </p>
                    <p>
                      <strong>Information retrieved from the email response.</strong>
                      <br>
                      In conjunction with the emails that we send to you, we may collect information based on how you answer, such as how many times the message is opened, or how many times you click on the link.
                    </p>
                    <p>
                      <strong>Other information about your contact with us.</strong>
                      <br>
                      For example, if you come in contact with us through email, phone or social media (eg Facebook). We may use your information as follows and for the following purposes;
                    </p>
                    <p>
                      <strong>Sending messages in connection with your transactions and events you've attended to.</strong>
                      <br>
                      For example, we can send emails regarding your account or a specific event, or ask if you want to write a review about an event. We may also contact you regarding this policy or any of our other policies or terms and conditions.
                    </p>
                    <p>
                      <strong>Identify trends and interests.</strong>
                      <br>
                      We use your information to get to know what your preferences are, so that we can improve our offer to you and give you a more relevant and personal service. We may combine the information we receive from you with the information that we receive from third parties. We also analyze customer behavior.
                    </p>
                    <p>
                      <strong>To monitor and improve our products, services and websites.</strong>
                      <br>
                      We analyze your data to improve our knowledge of you and our customer base in general. We do this in order to make better decisions about our services, advertising, products and content, based on a more informed view of how our customers use our current services and to offer a more personalized service.
                    </p>
                    <p>
                      <strong>To prevent or detect illegal behavior or to protect or enforce legal rights.</strong>
                      <br>
                      For example, we may use your information to prevent the misuse of our intellectual property rights (such as our or our events partners brand), fraud (including credit card fraud and fraud we believe has happened in connection with promotions or events) or other crimes.
                    </p>
                    <p>
                      <strong>For safety purposes.</strong>
                      <br>
                      Your information may also be used to protect our company, employees, customers, third parties and our / their property (including the event you have attended and our websites), in accordance with what is permitted by law.
                    </p>
                    <p>
                      <strong>For market research purposes.</strong>
                      <br>
                      We may contact you as part of the surveys we conduct. You can choose not to participate.
                    </p>
                    <p>
                      <strong>In order to provide you with tailored advertising and behavioral advertising.</strong>
                      <br>
                      We collaborate with other companies to offer you advertising that we believe you will find relevant and useful. This can include advertising that appear on our own websites, apps or ads that we put out on other companies' websites. The advertising can be based on information collected by us or third parties or may be based on your activities on our sites or on third party websites. The other type of marketing is called "online or third party behavioral advertising."
                    </p>
                    <p>
                      <strong>In marketing purposes.</strong>
                      <br>
                      With your permission, you may be contacted by us via email, SMS, telephone or other information or offers about our upcoming events, products or services (including newsletters). We may also send you information on behalf of other companies, but we do not give these businesses your name or contact information. With your permission, you can also be contacted directly by a third party, such as charities and retail companies, companies offering services in the financial, health or recreation, or service subscription.
                    </p>
                    <p>
                      <strong>Permitted by law.</strong>
                      <br>
                      Under certain circumstances, we may also use your information for other purposes in accordance with what is permitted under applicable law.
                    </p>
                    <p>When you open an account, sign up for a event or download our apps, we ask for your consent to collect, process or use your personal information for specific purposes.</p>
                    <p>If you wish to revoke consent you have given us for the use of your personal data, please set your preferences from your personal account.</p>
                    <p>You should be aware that if you choose not to provide us with your consent or if you withdraw your consent, you can not take advantage of some of our offers.</p>
                    <p>You can choose not to receive marketing communications. To no longer receive emails or text messages, go to your account and opt out from the marketing letters you no longer want to receive.</p>
                    <p>You can choose not to receive our newsletters. To no longer receive our newsletters go to your account or follow the instruction in any of our newsletters you receive from us.</p>
                    <p>You can check and choose to prevent us from using tracking tools on your devices. For example. You can turn off the GPS location and push notifications using the settings on your phone.</p>
                    <h3>We may share your information with these third parties.</h3>
                    <p>
                      <strong>In the Smoothcomp Group.</strong>
                      <br>
                      We may share your information or share your information with any group companies for any of the purposes specified in this policy.
                    </p>
                    <p>
                      <strong>Our Events Partners.</strong>
                      <br>
                      We will share your information with our Events Partners so that they can hold the event for which tickets have been purchased, analyze customer behavior, provide better service and support to customers.
                    </p>
                    <p>
                      <strong>Selected third parties.</strong>
                      <br>
                      If you have consented to being contacted by email or other means of selected third parties, we can provide your details to selected third parties, and those third parties may use this information for marketing or advertising purposes.
                    </p>
                    <p>
                      <strong>Our third-party suppliers.</strong>
                      <br>
                      We may share your information with third parties so that they can provide services to us (such as mail, courier service, call center or market research), but when we do this, we will enter into a written agreement to protect your information.
                    </p>
                    <p>
                      <strong>Third parties who provide goods and services purchased by you.</strong>
                      <br>
                      Your information may also be shared with third parties who offer goods and services purchased through our site (for example, cancellation or goods) so that they can manage and execute your orders (eg by contacting you).
                    </p>
                    <p>
                      <strong>If we believe that we need to follow the laws and requirements, or to protect ourselves, Event Partners or third parties.</strong>
                      <br>
                      When permitted by law, we may also share information that is requested by an authority or any other competent body or organization, to protect or enforce our rights or Events Partners or third party rights, or to prevent fraud (including credit card fraud and suspected fraud in the campaigns or events) and other crimes.
                    </p>
                    <p>
                      <strong>Any new owner of all or part of our business.</strong>
                      When permitted by law, we can provide a new owner of your personal information to be used for the purposes specified in this policy - and we can also provide a potential new owner this information - but only after we have taken reasonable steps to ensure the security and confidentiality of the information.
                    </p>
                    <p>
                      <strong>We use standard security.</strong>
                      <br>
                      We have security measures in place to protect your information. The security measures we use depends on the type of information that has been collected. The Internet is not 100% safe. We can not guarantee that your use of our websites will be completely safe. Be careful when using the Internet. Do not share your password with others.
                    </p>
                    <p>
                      <strong>We may transfer your information to other countries.</strong>
                      <br>
                      The transfer of your information for use in accordance with this policy and Cookies policy may mean that your data is transferred to other countries (outside Europe). It may be that the laws of other countries do not protect your information in the same way as in your home country. However, we have taken appropriate technical and contractual protection of your personal information in accordance with applicable laws.
                    </p>
                    <p>
                      <strong>We may have links to third party websites and services that we do not control.</strong>
                      <br>
                      If you click one of these links, you will gain access to the websites that we do not control. This policy does not apply to personal data processing on these pages. Read the privacy policies on these websites carefully. We are not responsible for such third party websites.
                    </p>
                    <p>
                      <strong>Correct, change or update your preferences</strong>
                    </p>
                    <p>Contact us if you have any questions or complaints regarding this privacy policy. Please do not include your credit card number or other financial or sensitive information in your email.</p>
                    <p>
                      <strong>If we update this Policy.</strong>
                      <br>
                      From time to time we may make changes to our privacy. We will notify you of any changes to this policy when you log in to your account. We will also post an updated policy on our website. The updated policy will have a different date and version number. Please visit your account regularly for updates.
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <button type="button" class="btn btn-danger">Decline</button>
                    <button type="button" class="btn btn-primary">Accept</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
