<section class="boost padding-vertical-xs-32 margin-bottom-xs-32 filter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-6"><!----></div>
    </div> <div class="row"><div class="col-sm-12"><hr class="mute-more margin-vertical-xs-16"></div></div> <div class="row">
      <div class="col-sm-6"><input placeholder="Name" class="form-control full-width margin-bottom-xs-8 margin-bottom-sm-0"></div> <div class="col-sm-6"><input placeholder="Description" class="form-control full-width margin-bottom-xs-8 margin-bottom-sm-0"></div><div class="col-sm-6">
        <div>
        </div>
      </div>
    </div> <div class="row"><div class="col-sm-12"><hr class="mute-more margin-vertical-xs-16"></div></div> <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6 margin-bottom-xs-8 margin-bottom-sm-0">
        <div class="flex-center full-width">
          <div class="margin-right-xs-4 full-width">
            <input type="hidden" data-input="true" placeholder="Created Date...." class="flatpickr-input"><input class="form-control" placeholder="Created Date..." tabindex="0" type="text">
          </div> <div class="margin-left-xs-4 full-width"><input type="hidden" data-input="true" placeholder="Modified Date..." class="flatpickr-input"><input class="form-control" placeholder="Modified Date..." tabindex="0" type="text"></div>
        </div>
      </div> <!----> <div class="col-xs-12 col-sm-4">

      </div>
    </div> <div class="row"><!----></div> <div class="row margin-top-xs-16"><div class="col-xs-12"><div class="pull-right"><!----> <!----></div></div></div>
  </div>
</section>
