USE [DB_TOURNERY2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnualOffDays]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualOffDays](
	[Id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[OffDay] [datetime] NULL,
	[Description] [nvarchar](300) NULL,
	[UserLeavePolicyId] [int] NULL,
 CONSTRAINT [PK_AnnualOffDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[BioStarEmpNum] [int] NULL,
	[Hometown] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[DepartmentId] [int] NULL,
	[UserLeavePolicyId] [int] NULL,
	[CountryId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitor]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Serial] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Age] [int] NULL,
	[Weight] [int] NULL,
	[Gender] [bit] NULL,
	[State] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[Zip] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[School] [nvarchar](500) NULL,
	[Belt] [nvarchar](500) NULL,
	[Event] [nvarchar](500) NULL,
	[RegistrationDate] [datetime] NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[Path] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsDefault] [bit] NULL,
	[ProfilePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Competitor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetitorEventRelation]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitorEventRelation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NULL,
	[CompetitorId] [int] NULL,
 CONSTRAINT [PK_CompetitorEventRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetitorTournamentOrder]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitorTournamentOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Competitor] [nvarchar](max) NULL,
	[Tournament] [nvarchar](max) NOT NULL,
	[Event] [nvarchar](max) NOT NULL,
	[Division] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_CompetitorTournamentOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](500) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceType]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceType](
	[Id] [nvarchar](128) NOT NULL,
	[Type] [nvarchar](500) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_DeviceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DivisionGroup]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupNo] [int] NULL,
	[EventDevisionId] [int] NULL,
	[CompetitorId] [int] NULL,
	[TournamentEventId] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DivisionGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventDivision]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDivision](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[AgeRange] [nvarchar](500) NULL,
	[BeltRange] [nvarchar](500) NULL,
	[GenderRange] [nvarchar](500) NULL,
	[WeightRange] [nvarchar](500) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[TournamentId] [int] NULL,
	[TournamentEventId] [int] NULL,
	[StrictCriteria] [bit] NULL,
	[GroupLimit] [int] NULL,
	[Combinations] [nvarchar](500) NULL,
	[RingAssignment] [varchar](500) NULL,
	[IsCustom] [bit] NULL,
 CONSTRAINT [PK_Division] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [nvarchar](128) NOT NULL,
	[AspNetUserId] [nvarchar](128) NULL,
	[Barcode] [nvarchar](100) NULL,
	[SerialNumber] [nvarchar](500) NULL,
	[DeviceTypeId] [nvarchar](128) NULL,
	[Manufacturer] [nvarchar](500) NULL,
	[Model] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[ReceivingDate] [datetime] NULL,
	[WarrantyExpiryDate] [datetime] NULL,
	[LocationId] [nvarchar](128) NULL,
	[StatusId] [nvarchar](128) NULL,
	[Racked] [bit] NOT NULL,
	[RackId] [nvarchar](500) NULL,
	[UID] [nvarchar](500) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemLog]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemLog](
	[Id] [nvarchar](128) NOT NULL,
	[ItemId] [nvarchar](128) NULL,
	[AspNetUserId] [nvarchar](128) NULL,
	[Description] [nvarchar](500) NULL,
	[EventDateTime] [datetime] NULL,
 CONSTRAINT [PK_ItemLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [nvarchar](128) NOT NULL,
	[LocationName] [nvarchar](500) NULL,
	[LocationId] [nvarchar](500) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRCodeDetail]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRCodeDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QRCodeId] [nvarchar](max) NULL,
	[EventId] [int] NULL,
	[CompetitorId] [int] NULL,
	[IsVerify] [bit] NULL,
 CONSTRAINT [PK_QRCodeDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduledEvent]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledEvent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[City] [nvarchar](500) NULL,
	[State] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[EventDate] [datetime] NULL,
	[TournamentId] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Facebook] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[WhatsApp] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[WebSite] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CutOffdate] [datetime] NULL,
 CONSTRAINT [PK_ScheduledEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [nvarchar](128) NOT NULL,
	[StatusName] [nvarchar](500) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TournamentDate] [datetime] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[TournamentDirectorId] [int] NULL,
	[Location] [nvarchar](max) NULL,
	[Venue] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tournament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentDirector]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentDirector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](500) NULL,
	[LastName] [nvarchar](500) NULL,
	[DateModified] [datetime] NULL,
	[DateCreated] [datetime] NULL,
	[Address] [nvarchar](500) NULL,
	[Zip] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[StripeKey] [nvarchar](max) NULL,
	[Profile] [nvarchar](max) NULL,
	[StripeCustomerId] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_TournamentDirector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentEvent]    Script Date: 7/1/2023 12:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentEvent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_TournamentEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Manager')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7b211cb8-57db-4122-9b7b-4a9eede2d20e', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7eb56cbe-d255-4415-803b-c5842e4eab1e', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7eb56cbe-d255-4415-803b-c5842e4eab1e', N'4')
GO
SET IDENTITY_INSERT [dbo].[Competitor] ON 

INSERT [dbo].[Competitor] ([Id], [Serial], [Name], [Age], [Weight], [Gender], [State], [City], [Address], [Zip], [Email], [Phone], [School], [Belt], [Event], [RegistrationDate], [DateCreated], [DateModified], [Path], [CreatedBy], [IsDefault], [ProfilePath]) VALUES (1, NULL, N'Hasnain Ali', 32, 105, 1, N'Punjab', N'Lahore', N'address', N'71000', N'test@gmail.com', N'9231245678912', N'SCHOOL LAHORE', N'5', N'Olympic-style Sparring<br>', CAST(N'2023-06-30T00:00:00.000' AS DateTime), NULL, CAST(N'2023-06-30T22:54:01.617' AS DateTime), NULL, N'7eb56cbe-d255-4415-803b-c5842e4eab1e', 1, NULL)
INSERT [dbo].[Competitor] ([Id], [Serial], [Name], [Age], [Weight], [Gender], [State], [City], [Address], [Zip], [Email], [Phone], [School], [Belt], [Event], [RegistrationDate], [DateCreated], [DateModified], [Path], [CreatedBy], [IsDefault], [ProfilePath]) VALUES (2, NULL, N'Test 2 Test 2', 33, 125, 1, N'Punjab', N'lahore', N'address', N'71000', N'test@gmail.com', N'9231245678912', N'school xyz', N'2', N'Olympic-style Sparring<br>', CAST(N'2023-06-30T00:00:00.000' AS DateTime), NULL, CAST(N'2023-06-30T22:53:06.833' AS DateTime), NULL, N'7b211cb8-57db-4122-9b7b-4a9eede2d20e', 1, NULL)
SET IDENTITY_INSERT [dbo].[Competitor] OFF
GO
SET IDENTITY_INSERT [dbo].[CompetitorEventRelation] ON 

INSERT [dbo].[CompetitorEventRelation] ([Id], [EventId], [CompetitorId]) VALUES (1, 14, 1)
INSERT [dbo].[CompetitorEventRelation] ([Id], [EventId], [CompetitorId]) VALUES (2, 14, 2)
SET IDENTITY_INSERT [dbo].[CompetitorEventRelation] OFF
GO
SET IDENTITY_INSERT [dbo].[Configuration] ON 

INSERT [dbo].[Configuration] ([Id], [Key], [Value]) VALUES (1, N'SiteOwnerStripeKey', N'sk_test_51N9968DXoT0g7l2j6kiRQalrTG4PhZJufAyagbI4l7okVXnI49ygnpMmhZNQ9E0MDfDIEozBeMNUImQN2tT1NpeK002V7SHymk')
INSERT [dbo].[Configuration] ([Id], [Key], [Value]) VALUES (2, N'SiteOwnerPercentage', N'90')
INSERT [dbo].[Configuration] ([Id], [Key], [Value]) VALUES (3, N'EventFee', N'100')
SET IDENTITY_INSERT [dbo].[Configuration] OFF
GO
INSERT [dbo].[DeviceType] ([Id], [Type], [Remarks], [DateCreated], [DateModified]) VALUES (N'08db747d-2c40-4fa2-9f1f-8d177f10b281', N'Computing', NULL, CAST(N'2022-01-08T21:17:49.723' AS DateTime), NULL)
INSERT [dbo].[DeviceType] ([Id], [Type], [Remarks], [DateCreated], [DateModified]) VALUES (N'0e07dcf5-623a-41a9-ab06-f2417cb0a3a2', N'Networking', NULL, CAST(N'2022-01-08T21:17:41.343' AS DateTime), NULL)
INSERT [dbo].[DeviceType] ([Id], [Type], [Remarks], [DateCreated], [DateModified]) VALUES (N'475ce7f9-48b6-444b-bf5f-4b311f698147', N'Tower', NULL, CAST(N'2022-01-08T21:18:14.367' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[DivisionGroup] ON 

INSERT [dbo].[DivisionGroup] ([Id], [GroupNo], [EventDevisionId], [CompetitorId], [TournamentEventId]) VALUES (650, 1, 1, 1, CAST(14 AS Decimal(18, 0)))
INSERT [dbo].[DivisionGroup] ([Id], [GroupNo], [EventDevisionId], [CompetitorId], [TournamentEventId]) VALUES (652, 1, 1, 2, CAST(14 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DivisionGroup] OFF
GO
INSERT [dbo].[EventDivision] ([Id], [Name], [Description], [AgeRange], [BeltRange], [GenderRange], [WeightRange], [DateCreated], [DateModified], [TournamentId], [TournamentEventId], [StrictCriteria], [GroupLimit], [Combinations], [RingAssignment], [IsCustom]) VALUES (1, N'Olympic-style Sparring', N'Test Division', NULL, NULL, NULL, NULL, NULL, NULL, 19, 14, 1, NULL, N'0', N'Test Division', 0)
GO
INSERT [dbo].[ItemLog] ([Id], [ItemId], [AspNetUserId], [Description], [EventDateTime]) VALUES (N'0c01d189-637a-40e1-9341-d8547821f826', N'8b9c6656-55c4-4cce-bcc0-d6d648efaec5', NULL, N'UID:  → WQR Q AFSF ASDF Q3444', CAST(N'2022-01-20T23:41:52.583' AS DateTime))
INSERT [dbo].[ItemLog] ([Id], [ItemId], [AspNetUserId], [Description], [EventDateTime]) VALUES (N'11f807e8-413b-49b3-9ae4-446b6d2c7be1', N'006e997b-d105-40a2-ab14-12cb2ea0a371', NULL, N'Racked: No → Yes', CAST(N'2022-01-21T17:22:35.100' AS DateTime))
INSERT [dbo].[ItemLog] ([Id], [ItemId], [AspNetUserId], [Description], [EventDateTime]) VALUES (N'15868813-c59f-4048-8528-8a7ef08e1b03', N'8b9c6656-55c4-4cce-bcc0-d6d648efaec5', NULL, N'Device Type: Networking → Computing', CAST(N'2022-01-20T23:41:12.390' AS DateTime))
GO
INSERT [dbo].[Location] ([Id], [LocationName], [LocationId], [Remarks], [DateCreated], [DateModified]) VALUES (N'0cb528f6-c19d-4bb1-9f57-5ad66a692dbe', N'MainBranch', N'3434ASDF AFD ', NULL, CAST(N'2022-01-08T21:18:56.770' AS DateTime), CAST(N'2022-01-21T18:09:31.300' AS DateTime))
INSERT [dbo].[Location] ([Id], [LocationName], [LocationId], [Remarks], [DateCreated], [DateModified]) VALUES (N'71cbe51f-2813-4fcf-bdd1-e69169bb3db2', N'Sales', N'343ASF A F', NULL, CAST(N'2022-01-08T21:19:23.183' AS DateTime), CAST(N'2022-01-21T18:09:36.127' AS DateTime))
INSERT [dbo].[Location] ([Id], [LocationName], [LocationId], [Remarks], [DateCreated], [DateModified]) VALUES (N'a85a6471-68f5-4ca6-bfbe-dae8b27b0e42', N'Accounting Dep', N'ASDF1', NULL, CAST(N'2022-01-10T15:54:55.193' AS DateTime), CAST(N'2022-01-21T18:09:19.117' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[QRCodeDetail] ON 

INSERT [dbo].[QRCodeDetail] ([Id], [QRCodeId], [EventId], [CompetitorId], [IsVerify]) VALUES (1, N'#41282075', 14, 2, NULL)
SET IDENTITY_INSERT [dbo].[QRCodeDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduledEvent] ON 

SET IDENTITY_INSERT [dbo].[ScheduledEvent] OFF
GO
INSERT [dbo].[Status] ([Id], [StatusName], [Remarks], [DateCreated], [DateModified]) VALUES (N'1', N'In Operation', NULL, NULL, NULL)
INSERT [dbo].[Status] ([Id], [StatusName], [Remarks], [DateCreated], [DateModified]) VALUES (N'2', N'Out of Operation - Decommissioned', NULL, NULL, NULL)
INSERT [dbo].[Status] ([Id], [StatusName], [Remarks], [DateCreated], [DateModified]) VALUES (N'3', N'Out of Operation - Faulty / Damaged', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentDirector] ON 

INSERT [dbo].[TournamentDirector] ([Id], [FirstName], [LastName], [DateModified], [DateCreated], [Address], [Zip], [City], [Country], [Email], [Phone], [StripeKey], [Profile], [StripeCustomerId], [UserId]) VALUES (2039, N'Test', N'Tournament Director', NULL, CAST(N'2023-06-30T20:31:58.480' AS DateTime), N'address', N'71000', N'lahore', N'Pakistan', N'test@gmail.com', N'9231245678912', NULL, N'https://localhost:44380/Images/test2.png', N'cus_OB5TCbt0TC1wgA', N'7eb56cbe-d255-4415-803b-c5842e4eab1e')
SET IDENTITY_INSERT [dbo].[TournamentDirector] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentEvent] ON 

INSERT [dbo].[TournamentEvent] ([Id], [Name], [Description], [DateCreated], [DateModified]) VALUES (1, N'Olympic-style Sparring', NULL, NULL, NULL)
INSERT [dbo].[TournamentEvent] ([Id], [Name], [Description], [DateCreated], [DateModified]) VALUES (2, N'Traditional Forms', NULL, NULL, NULL)
INSERT [dbo].[TournamentEvent] ([Id], [Name], [Description], [DateCreated], [DateModified]) VALUES (3, N'Board Breaking', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TournamentEvent] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CompetitorEventRelation]  WITH CHECK ADD  CONSTRAINT [FK_CompetitorEventRelation_Competitor] FOREIGN KEY([CompetitorId])
REFERENCES [dbo].[Competitor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompetitorEventRelation] CHECK CONSTRAINT [FK_CompetitorEventRelation_Competitor]
GO
ALTER TABLE [dbo].[CompetitorEventRelation]  WITH CHECK ADD  CONSTRAINT [FK_CompetitorEventRelation_ScheduledEvent] FOREIGN KEY([EventId])
REFERENCES [dbo].[ScheduledEvent] ([Id])
GO
ALTER TABLE [dbo].[CompetitorEventRelation] CHECK CONSTRAINT [FK_CompetitorEventRelation_ScheduledEvent]
GO
ALTER TABLE [dbo].[DivisionGroup]  WITH CHECK ADD  CONSTRAINT [FK_DivisionGroup_Competitor] FOREIGN KEY([CompetitorId])
REFERENCES [dbo].[Competitor] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DivisionGroup] CHECK CONSTRAINT [FK_DivisionGroup_Competitor]
GO
ALTER TABLE [dbo].[DivisionGroup]  WITH CHECK ADD  CONSTRAINT [FK_DivisionGroup_EventDivision] FOREIGN KEY([EventDevisionId])
REFERENCES [dbo].[EventDivision] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DivisionGroup] CHECK CONSTRAINT [FK_DivisionGroup_EventDivision]
GO
ALTER TABLE [dbo].[EventDivision]  WITH CHECK ADD  CONSTRAINT [FK_EventDivision_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournament] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventDivision] CHECK CONSTRAINT [FK_EventDivision_Tournament]
GO
ALTER TABLE [dbo].[EventDivision]  WITH CHECK ADD  CONSTRAINT [FK_EventDivision_TournamentEvent] FOREIGN KEY([TournamentEventId])
REFERENCES [dbo].[ScheduledEvent] ([Id])
GO
ALTER TABLE [dbo].[EventDivision] CHECK CONSTRAINT [FK_EventDivision_TournamentEvent]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_AspNetUsers]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_DeviceType] FOREIGN KEY([DeviceTypeId])
REFERENCES [dbo].[DeviceType] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_DeviceType]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Location]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Status]
GO
ALTER TABLE [dbo].[ItemLog]  WITH CHECK ADD  CONSTRAINT [FK_ItemLog_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ItemLog] CHECK CONSTRAINT [FK_ItemLog_AspNetUsers]
GO
ALTER TABLE [dbo].[ItemLog]  WITH CHECK ADD  CONSTRAINT [FK_ItemLog_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ItemLog] CHECK CONSTRAINT [FK_ItemLog_Item]
GO
ALTER TABLE [dbo].[ScheduledEvent]  WITH CHECK ADD  CONSTRAINT [FK_ScheduledEvent_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournament] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduledEvent] CHECK CONSTRAINT [FK_ScheduledEvent_Tournament]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [FK_Tournament_TournamentDirector] FOREIGN KEY([TournamentDirectorId])
REFERENCES [dbo].[TournamentDirector] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [FK_Tournament_TournamentDirector]
GO
